html , body{
    margin: 0;
    padding: 0;

}

*{
    box-sizing: border-box;

}

body{
    display: grid;
    grid-template: "navbar navbar navbar . " 42px
    "explore friends-post sponsored conversations" 1fr / 20vw 1fr 20vw 15vw;
    ;
    background: #E9EBEE;
}

/* HELPER STYLES START 
======================
*/

.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex.align-start{
    align-items: flex-start;
}
.flex.justify-start{
    justify-content: flex-start;
}
.flex.align-center{
    align-items: center;
}
.flex.justify-between{
    justify-content: space-between;
}
.flex.justify-evenly{
    justify-content: space-evenly;
}
.flex.justify-center{
    justify-content: center;
}
.flex.justify-around{
    justify-content: space-around;
}


/* HELPER STYLES END 
======================
*/
.nav-bar{
    grid-area: navbar;
    width: 100vw;
    background: #4267B2;
    color: #fff;
}
.nav-bar a{
    color: #fff;
}
.nav-bar .name-profile img{
    border-radius: 50%;
    width: 36px;
    height: 36px;
}


.explore{
    grid-area: explore;
}


.friends-post{
    grid-area: friends-post;
}


.sponsored-container{
    grid-area: sponsored;
}

.conversations{
    grid-area: conversations;
}

.conversations .contact{
    display: flex;
    align-items: center;
    margin-bottom: .8rem;
    padding:.6rem 1rem;
    border-radius: 10px;
    position: relative;
}
.online-green{
    width: 29px;
    height: 29px;
    position: relative;
    margin-right: .6rem;
} 
.contact .online-green img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.online-green:after{
    position: absolute;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    content:"";
    background:green;
}

.search-more img{
    margin-left: .6rem;
    color:#626974 ;


}
.group-conversations .group{
    display: flex;
    align-items: center;
    margin-bottom: .8rem;
    padding:.6rem 1rem;
    border-radius: 10px;
}
 .group .online-green img{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}
