html , body{
    margin: 0;
    padding: 0;

}

*{
    box-sizing: border-box;

}

body{
    display: grid;
    grid-template: "navbar navbar navbar navbar" 42px
    "explore friends-post sponsored conversations" 1fr / 20vw 1fr 20vw 15vw;
    ;
}

/* HELPER STYLES START 
======================
*/

.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex.align-start{
    align-items: flex-start;
}
.flex.justify-start{
    justify-content: flex-start;
}
.flex.align-center{
    align-items: center;
}
.flex.justify-between{
    justify-content: space-between;
}
.flex.justify-evenly{
    justify-content: space-evenly;
}
.flex.justify-center{
    justify-content: center;
}
.flex.justify-around{
    justify-content: space-around;
}


/* HELPER STYLES END 
======================
*/
.nav-bar{
    grid-area: navbar;
    width: 100vw;
    background: #4267B2;
    color: #fff;
}
.nav-bar a{
    color: #fff;
}
.nav-bar .name-profile img{
    border-radius: 50%;
    width: 36px;
    height: 36px;
}


.explore{
    grid-area: explore;
}


.friends-post{
    grid-area: friends-post;
}


.sponsored-container{
    grid-area: sponsored;
}

.conversations{
    grid-area: conversations;
}
