html , body{
    margin: 0;
    padding: 0;

}

*{
    box-sizing: border-box;

}

body{
    display: grid;
    grid-template-columns: 20vw 1fr 20vw 15vw;
    grid-template-rows: 64px 1fr;
    grid-template-areas: "navbar navbar navbar navbar"
    "explore friends-post sponsored conversations"
    ;
}

/* HELPER STYLES START 
======================
*/

.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex.align-start{
    align-items: flex-start;
}
.flex.justify-start{
    justify-content: flex-start;
}
.flex.align-center{
    align-items: center;
}
.flex.justify-between{
    justify-content: space-between;
}
.flex.justify-evenly{
    justify-content: space-evenly;
}
.flex.justify-center{
    justify-content: center;
}
.flex.justify-around{
    justify-content: space-around;
}


/* HELPER STYLES END 
======================
*/

