html , body{
    margin: 0;
    padding: 0;

}
:root{
 font-size:15px;
 font-family: helvetica ,Arial , sans-serif;
}
*{
    box-sizing: border-box;
}
body{
    background-color: #F0F2F5;
}


/* HELPER STYLES START 
======================
*/

.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex.align-start{
    align-items: flex-start;
}
.flex.justify-start{
    justify-content: flex-start;
}
.flex.align-center{
    align-items: center;
}
.flex.justify-between{
    justify-content: space-between;
}
.flex.justify-evenly{
    justify-content: space-evenly;
}
.flex.justify-center{
    justify-content: center;
}
.flex.justify-around{
    justify-content: space-around;
}


/* HELPER STYLES END 
======================
*/


/*
NAV STYLES START
==============  
*/


.nav-bar{
    padding: 0 .9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 9.5vh;
    background-color:#fff ;
    z-index: 2;
    cursor: pointer;
    
    
}

.logo-search .brand-logo{
    margin-right:.5rem;
    cursor: pointer;
}

.logo-search .search{
    width:235px;
    border-radius: 4rem;
    background-color: #F0F2F5;
    padding:3.6% 2.6%;
    
    
}
.logo-search .nav-search{
    border: none;
    outline: none;
    background-color: #F0F2F5;
    color: #050505;
    height: 100%;
    padding:0 .4rem;
    font-weight: 400;
    font-size:1rem ;
    width: 200px;
    

}
.logo-search .search:focus .search-icon{
    display: none;
}



.navigations a{
    padding: .8rem 3rem;
    border-radius: 5px;
    cursor: pointer;
}
.navigations a:hover:not(:first-child){
    background-color:
    #e4e6eb ;
}

.navigations a:first-child{
    height: 100%;
    border-radius: 0;
    border-bottom: 2.5px  #1877F2 solid;
    height:100%;
    
}
.user-options div{

    border-radius:50%;
    cursor: pointer;
    
}

.user-options div:not(:first-child){
    border-radius: 50%;
    padding: .65rem;
    background-color:#e4e6eb ;
    display: flex;
    align-items: center;
    margin-right:.5rem;
}
.user-options div:last-child{
    margin-right: 1.2rem;
}

.user-options .name-profile{
    border-radius: 4rem;
    padding: .15rem .25rem;
    margin-right: .3rem;
}
.user-options div:hover{
    background-color:#f4f4f5 ;
    
}
.user-options .picture{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right:.3rem;

}
.user-options .name{
    font-size:1rem ;
    font-weight: 600;
    padding-right: .8rem;

}
.user-options .add , .user-options .arrow-down{
    width: 20px;
    height: 20px;
}

/*
NAV STYLES END
==============  
*/


/*
 MAIN CONTENT STYLES START 
=========================
*/

.container{
    display: grid;
    grid-template-areas: "sidebar-left main-content sidebar-right";
    grid-template-columns:24% 50% 22%;
    margin-top: 60px;
    height: 90.5vh;

    
}
sidebar{

    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 90.5vh;
    margin-right: 2rem;
}

sidebar:hover{
    overflow-y: auto;   
}  

.sidebar-left{
    width: 24%;
    position: fixed;
    left: 0; 
    padding: 0 1%; 
    grid-area: sidebar-left;
    
    

}

.sidebar-left a{
    text-decoration: none;
    color: #0D0D0E;
    
}
.sidebar-left span{
    font-weight: 500;
    font-size: 1rem;
}
.section{
    display: flex;
    padding: .5rem 0;
    align-items: center;

}
.section:first-child{
    margin-top:1rem;
}

.sidebar-left .section:not(:nth-child(10)) img{
    width: 29px;
    height: 29px;
    margin-right: .7rem;
    
}
.section:first-child img{
    border-radius: 50%;
}
.section img[class="more"]{
    width: 20px;
    height: 20px;
}
.section:hover , .relationship:hover , .shortcuts > a:hover{
    background-color:#E4E6EB;
    border-radius: 5px;
}
 
.shortcuts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px #CED0D4 solid;
    padding: 1.2rem 0 .4rem;
    margin:.3rem 0;
}
.shortcuts span{
    font-weight: 600;
    font-size:1.133rem ;
    color: #626974;

}
.shortcuts .link{
    text-decoration: none;
    font-weight: 400;
    font-size:1rem ;
    color: #0084ff;
    display: none;
    
}
.shortcuts:hover .shortcuts .link{
    display: contents;
}

.seemore-container{
    border-radius: 50%;
    padding: .4rem;
    background-color: #E4E6EB;
    margin-right: .4rem;
    
    /* box-sizing: content-box; */
}
.section:nth-child(10){
    margin-bottom: .3rem;
}

.sidebar-left .relationship{
    padding: .5rem 0;
    margin-bottom: .3rem;

}
.sidebar-left .relationship span{
    font-size: 1rem;
    font-weight: 500;
   
}
.sidebar-left .relationship img{

    width: 30px;
    height: 30px;
    margin-right: .7rem;
    border-radius: 5px;
}
.sidebar1-footer{ 
    color: #4B4F56;
    padding: .6rem 0 1.2rem;
}
.sidebar1-footer a:not(:nth-of-type(4)){
    margin:0 .2rem .1rem 0;
    font-size:.867rem;
    font-weight:400 ;
    color: #4B4F56;
    
    
}
.sidebar1-footer a:nth-of-type(4){
    margin-right:.2rem;
}
.sidebar1-footer .dot{
    
    margin: 0 .2rem .6rem 0;
} 
.sidebar1-footer .exempt{
    font-size:.867rem;
    font-weight:400 ;
    color: #4B4F56;
}

.sidebar1-footer a:hover {
    text-decoration: underline;

}

.main-content{
    grid-area: main-content;
    margin: 0 auto;
    width:88%;
    

}


.sidebar-right{
    grid-area: sidebar-right;
    position: fixed;
    right: 0;
    width: 22%;
}

/*
 MAIN CONTENT STYLES END 
===================
*/